:root {
 --font-color:#000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color:#fff;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  padding:1rem;
  color: var(--font-color);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme:dark;
  }
}

.container{
  margin-top: 3rem;
  max-width: 800px !important;
  display: flex;
  flex-direction: column;
  background: #c6c6c695;
}
.row{
  display: flex;
  flex-direction: row; 
}
.row > button{
  flex:1;
  height: 70px;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 500;
  border:none !important;
  outline: none !important;
  background: #c6c6c6;
  margin: 1px;
}
.row > button:hover{
  background: #c6c6c6ac;
}
.row > button:active{
  background: #d5d5d5;
}
.row > button:last-child{
  background: rgb(210, 165, 31);
  /* background: #d8c99f; */
}
.row > button:last-child:hover{
  background: rgba(243, 178, 28, 0.783);
}
.row > button:last-child:active{
  background: rgb(251, 183, 25);
}
.row:last-child :nth-child(7){
  flex:2;
}
.answerboard{
  height:100px;
  background: #c6c6c695;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 4rem;
  padding:.5rem;
  overflow-x: scroll;
}